.Month {
    /*border: 1px solid gold;*/
    display: flex;
    flex-direction: column;
    padding: 10px 30px;
    text-align: center;
    text-shadow: 0 0px 4px rgba(0, 0, 0, 0.1);
}

.Month_name {
    color: white;
    font-size: 28px;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}

.Month_name_div {
    display: flex;
    flex-direction: column;
}

.Month_name_year {
    font-size: 13px;
}

.Month_arrows {
    color: white;
    font-size: 3rem;
    padding: 0 30px;
}

.arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


@media (max-width: 1100px) {
    .Month {
        min-height: 100vh;
    }
}